
.App {
  text-align: center;
}


.App-link {
  color: #09d3ac;
}

.topContainer{
  display: flex;
  flex-direction: row;
}

.upload-dropzone{
  text-align: center;
  border: 1px solid indianred;
  padding: 10px 0 25px 0;
  margin: 30px 0;
}

